<div class="header" *ngIf="liveData.length > 0" [ngClass]="stockData.length == 0 ? 'hide' : ''">
    <div class="stock-names">
        <ng-container *ngFor="let data of liveData; index as i">
            <h1 
                [ngClass]="i == activeIndex ? 'active' : ''"
                (click)="activeIndex = i; changeIndex()"
            >{{data.symbol}}</h1>
        </ng-container>
    </div>
    <div class="arrows">
        <fa-icon [ngClass]="activeIndex == 0 ? 'hide' : ''" (click)="changeIndex(false)" [icon]="faArrowLeft"></fa-icon>
        <fa-icon [ngClass]="activeIndex == stockData.length-1 ? 'hide' : ''" (click)="changeIndex(true)" [icon]="faArrowRight"></fa-icon>
    </div>
</div>
<div class="main" [ngClass]="stockData.length == 0 ? 'hide' : ''">
    <div class="live grid-item">
        <h2 *ngIf="liveData.length > 0">${{ liveData[activeIndex].currentValue | number : '1.2-2'}}</h2>
        <livechart></livechart>
    </div>
    <div class="news grid-item">
        <div class="image" *ngIf="newsImg">
            <img [src]="newsImg" alt="news_img">
        </div>
        <div class="headline" *ngIf="newsUrl"><a [href]="newsUrl">{{newsHeadline}}</a></div>
    </div>
    <div id="historical" class="historical grid-item">
        <div class="inner">
            <div id="graph"></div>
        </div>
        <div class="ranges">
            <button [ngClass]="range == '1y' ? 'active' : ''" (click)="changeRange('1y')">1y</button>
            <button [ngClass]="range == '6m' ? 'active' : ''" (click)="changeRange('6m')">6m</button>
            <button [ngClass]="range == '3m' ? 'active' : ''" (click)="changeRange('3m')">3m</button>
            <button [ngClass]="range == '1m' ? 'active' : ''" (click)="changeRange('1m')">1m</button>
            <button [ngClass]="range == '1w' ? 'active' : ''" (click)="changeRange('1w')">1w</button>
        </div>
    </div>
    <div class="sidebar grid-item">
        <div class="content">
            <h3 *ngIf="stockData.length > 0">{{stockData[activeIndex].name}}</h3>
            <div class="item">
                <h4>Open</h4>
                <p *ngIf="stockData.length > 0">${{currentHistoricalData[currentHistoricalData.length-1].open | number : '1.2-2'}}</p>
            </div>
            <div class="item">
                <h4>Close</h4>
                <p *ngIf="stockData.length > 0">${{currentHistoricalData[currentHistoricalData.length-1].close | number : '1.2-2'}}</p>
            </div>
            <div class="item">
                <h4>High</h4>
                <p *ngIf="stockData.length > 0">${{currentHistoricalData[currentHistoricalData.length-1].high | number : '1.2-2'}}</p>
            </div>
            <div class="item">
                <h4>Low</h4>
                <p *ngIf="stockData.length > 0">${{currentHistoricalData[currentHistoricalData.length-1].low | number : '1.2-2'}}</p>
            </div>
        </div>
    </div>
</div>
<div class="default" *ngIf="stockData.length == 0">
    <div class="nodata">
        <h1>No Stocks Found</h1>
        <p>Looking for some stock data? Go over to settings and add a stock</p>
        <button routerLink="/dashboard/settings">Go to Settings</button>
    </div>
</div>