<div class="header">
    <div class="stock-names">
        <ng-container *ngFor="let data of liveData; index as i">
            <h1 
                [ngClass]="i == activeIndex ? 'active' : ''"
                (click)="activeIndex = i; changeIndex()"
            >{{data.symbol}}</h1>
        </ng-container>
    </div>
    <div class="arrows">
        <fa-icon [ngClass]="activeIndex == 0 ? 'hide' : ''" (click)="changeIndex(false)" [icon]="faArrowLeft"></fa-icon>
        <fa-icon [ngClass]="activeIndex == stockData.length-1 ? 'hide' : ''" (click)="changeIndex(true)" [icon]="faArrowRight"></fa-icon>
    </div>
</div>
<div class="main">
    <div class="live grid-item">
        <h2>${{ liveData[activeIndex].currentValue | number : '1.2-2'}}</h2>
    </div>
    <div class="news grid-item">
        <div class="image">
            <img [src]="newsImg" alt="news_img">
        </div>
        <div class="headline"><a [href]="newsUrl">{{newsHeadline}}</a></div>
    </div>
    <div id="historical" class="historical grid-item">
        <div class="inner">
            <div id="graph"><!-- Plotly graph is set inside here --></div>
        </div>
    </div>
    <div class="sidebar grid-item">
        <div class="content">
            <h3>{{stockData[activeIndex].symbol}}</h3>
            <div class="item">
                <h4>Open</h4>
                <p>${{currentHistoricalData[0].open | number : '1.2-2'}}</p>
            </div>
            <div class="item">
                <h4>Close</h4>
                <p>${{currentHistoricalData[0].close | number : '1.2-2'}}</p>
            </div>
            <div class="item">
                <h4>High</h4>
                <p>${{currentHistoricalData[0].high | number : '1.2-2'}}</p>
            </div>
            <div class="item">
                <h4>Low</h4>
                <p>${{currentHistoricalData[0].low | number : '1.2-2'}}</p>
            </div>
        </div>
    </div>
</div>