<div class="form-container">
    <div class="form-wrap">
        <h1>Sign In</h1>
        <button class="google" type="button" (click)="loginWithGoogle()"><fa-icon [icon]="faGoogle"></fa-icon><p>Sign in with Google</p></button>
        <form id="login-form" autocomplete="off">
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <input type="email" name="email" id="email" required />
                </div>
               
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input">
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input type="password" name="password" id="password" required />
                </div>
            </div>
            <button type="submit" class="btn">Sign in</button>
        </form>
    </div>
    <footer>
        <p>Don't have an account? <a id="signup" href="#">Signup Here</a></p>
    </footer>
    <div class="msg error" id="login-errorMsg"></div>
    <div class="msg success" id="login-successMsg"></div>
</div>