<h1>Stock Settings</h1>
<div class="main">
    <p>Tick Interval</p>
    <p-dropdown 
        [options]="intervals" 
        [(ngModel)]="selectedInterval" 
        optionLabel="name" 
        (onChange)="changeInterval(selectedInterval.value)"
    ></p-dropdown>
    <h4>Current Stocks</h4>
    <div class="tickers">
        <div class="item" *ngFor="let ticker of userTickers">
            <p>{{ticker}}</p>
            <fa-icon (click)="deleteTicker(ticker)" [icon]="faMinus"></fa-icon>
         </div>
         <div class="autocomplete"><p-autoComplete 
            [(ngModel)]="selectedTicker" 
            [suggestions]="filteredTickers" 
            (completeMethod)="filterTickers($event)"
            [dropdown]="true" 
            (keyup.enter)="addTicker(selectedTicker)" 
            inputStyleClass="p-autoComplete"
            panelStyleClass="p-autoComplete-panel">
        </p-autoComplete></div>
    </div>
</div>
