$margin: 20px;
$border-radius: 15px;
$bufferHeight: 150px;
$tablet: 1100px;


.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--mode-bg);
    color: var(--mode-text);

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
        "title header"
        "nav body";

    .title {
        grid-area: "title";
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            width: 70%;
            padding-left: 15px;
            padding: 10px;
            color: var(--theme-color);
        }
    }
    .header {
        grid-area: "header";
        position: relative;
        
        .main {
            width: calc(100% - $margin);
            height: calc(100% - $margin);
            background: rgba(var(--theme-color-rgb), .5);
            border-radius: $border-radius $border-radius 0 0;
            bottom: 0;
            left: calc(50% - $margin / 2);
            position: absolute;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .account-items {
                display: flex;
                justify-content: right;
                align-items: center;
                fa-icon {
                    color: var(--theme-color);
                    background: white;
                    border-radius: 50%;
                    font-size: 27px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    margin: 0;
                }
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    margin: 0 15px;
                }
            }
            h1 {
                color: white;
                margin-left: 55px;
            }
        }
    }
    .nav {
        grid-area: "nav";
        nav {
            li {
                width: 85%;
                height: 58px;
                margin: 30px auto;
                display: flex;
                justify-content: left;
                align-items: center;
                column-gap: 15px;
                cursor: pointer;
                border-radius: 5px;
                color: var(--mode-nav);
                fa-icon {
                    font-size: 25px;
                    padding-left: 15px;
                }
                h3 {
                    font-size: 22px;
                }
                &.active {
                    background: var(--theme-color-light);
                    h3 { color: var(--theme-color); }
                    fa-icon { color: var(--theme-color); }
                }
            }
        }
    }
    .body {
        grid-area: "body";
        position: relative;
        .account-popup {
            position: absolute;
            top: -10px;
            right: 10px;
            width: 180px;
            background: white !important;
            height: 130px;
            transition: .15s;
            display: block;
            border: 2px solid var(--theme-color);
            z-index: 10;
            border-radius: 10px;
            padding-top: 15px;
            &::before, &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 100%;
                width: 0;
                height: 0;
            }
            &::before {
                right: 30px;
                border: 15px solid transparent;
                border-bottom-color: var(--theme-color);
            }
            li {
                height: 50px;
                margin: 0 auto;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 15px;
                cursor: pointer;
                color: grey;
                fa-icon {
                    padding-left: 10px;
                    font-size: 25px;
                }
                &:hover {
                    color: var(--theme-color);
                }
            }
        }
        .main {
            width: calc(100% - $margin);
            height: calc(100% - $margin);
            top: 0;
            left: calc(50% - $margin / 2);
            position: absolute;
            transform: translateX(-50%);  
            color: black;
            .content {
                width: calc(100%);
                height: calc(100% - $bufferHeight);
                margin-top: $bufferHeight;
                background: #f0f1f5;
                border-radius: 0 0 $border-radius $border-radius;
                .component {
                    width: 100%;
                    height: calc(100%);
                    margin-top: $bufferHeight;
                    .page {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                    }
                }
                span {
                    width: 100%;
                    height: $bufferHeight;
                    background: rgba(var(--theme-color-rgb), .5);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }


    /* Media Queries */
    @media screen and (max-width: $tablet) {
        grid-template-columns: 100px 1fr;
    }
}

.hide { display: none !important; }