<div class="container" [ngClass]="darkMode ? 'mode-dark' : 'mode-light'">
    <div class="title">
        <h1>Stonks</h1>
    </div>
    <div class="header">
        <div>
            <fa-icon [icon]="faBell"></fa-icon>
            <img src="{{user.photoUrl}}" alt="Profile photo">
            <button type="button" pButton pRipple icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </div>
    </div>
    <div class="nav">
        <nav>
            <li routerLink="/dashboard/home" [routerLinkActive]="['active']">
                <fa-icon [icon]="faHome"></fa-icon>
                <h3>Home</h3>
            </li>
            <li routerLink="/dashboard/account" [routerLinkActive]="['active']">
                <fa-icon [icon]="faUserCircle"></fa-icon>
                <h3>Account</h3>
            </li>
            <li routerLink="/dashboard/settings" [routerLinkActive]="['active']">
                <fa-icon [icon]="faCog"></fa-icon>
                <h3>Settings</h3>
            </li>
        </nav>
    </div>
    <div class="body"> 
        <div>
            <span></span>
            <div class="content">
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
