<div class="container" [ngClass]="getThemeAndMode()">
    <div class="title">
        <fa-icon [icon]="faChartArea"></fa-icon>
        <h1>Stocks.io</h1>
    </div>
    <div class="header">
        <div class="main">
            <h1>Welcome, {{displayName}}</h1>
            <div class="account-items">
                <fa-icon [icon]="faBell"></fa-icon>
                <img *ngIf="photoUrl" src="{{photoUrl}}" alt="Profile photo" (click)="accountPopup = !accountPopup" />
                <div *ngIf="!photoUrl" (click)="accountPopup = !accountPopup" class="circle"></div>
            </div>
        </div>
    </div>
    <div class="nav">
        <nav>
            <li routerLink="/dashboard/home" [routerLinkActive]="['active']">
                <fa-icon [icon]="faHome"></fa-icon>
                <h3>Home</h3>
            </li>
            <li routerLink="/dashboard/account" [routerLinkActive]="['active']">
                <fa-icon [icon]="faUserCircle"></fa-icon>
                <h3>Account</h3>
            </li>
            <li routerLink="/dashboard/settings" [routerLinkActive]="['active']">
                <fa-icon [icon]="faCog"></fa-icon>
                <h3>Settings</h3>
            </li>
        </nav>
    </div>
    <div class="body"> 
        <span class="account-popup" [ngClass]="accountPopup ? '' : 'hide'">
            <li routerLink="/dashboard/account" (click)="accountPopup = false">
                <fa-icon [icon]="faUserCircle"></fa-icon>
                <h3>Account</h3>
            </li>
            <li (click)="logout()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
                <h3>Logout</h3>
            </li>
        </span>
        <div class="main">
            <div class="content">
                <span></span>
                <div class="component">
                    <div class="page">
                        <router-outlet></router-outlet>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>
