$margin: 20px;
$border-radius: 15px;
$tablet: 1100px;


.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--mode-bg);
    color: var(--mode-text);

    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
        "title header"
        "nav body";

    .title {
        grid-area: "title";
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            width: 70%;
            padding-left: 15px;
            padding: 10px;
            color: var(--theme-color);
        }
    }
    .header {
        grid-area: "header";
        position: relative;
        div {
            width: calc(100% - $margin*2);
            height: calc(100% - $margin);
            margin: auto;
            background: rgb(199, 199, 199);
            border-radius: $border-radius $border-radius 0 0;
            bottom: 0;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }
    .nav {
        grid-area: "nav";
        nav {
            li {
                width: 70%;
                height: 58px;
                margin: 30px auto;
                display: flex;
                justify-content: left;
                align-items: center;
                column-gap: 15px;
                cursor: pointer;
                border-radius: 5px;
                color: var(--mode-nav);
                fa-icon {
                    font-size: 25px;
                    padding-left: 15px;
                }
                h3 {
                    font-size: 22px;
                }
                &.active {
                    background: var(--theme-color-light);
                    h3 { color: var(--theme-color); }
                    fa-icon { color: var(--theme-color); }
                }
            }
        }
    }
    .body {
        grid-area: "body";
        position: relative;
        div {
            width: calc(100% - $margin*2);
            height: calc(100% - $margin);
            margin: auto;
            background: #f7f7f7;
            border-radius: 0 0 $border-radius $border-radius;
            top: 0;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);  
            color: black;
        }
    }


    /* Media Queries */
    @media screen and (max-width: $tablet) {
        grid-template-columns: 100px 1fr;
    }
}