/* You can add global styles to this file, and also import other style files */

:root {
    /* Mode variables */
    --light-bg: white;
    --light-text: black;
    --dark-bg: rgb(41, 39, 39);
    --dark-text: white;
    --mode-bg: var(--light-bg);
    --mode-text: var(--light-text);
    --mode-nav: grey;
    /* Mode variables */

    /* Theme variables */
    --purple: 129, 117, 255;
    --pink: 243, 154, 157;
    --blue: 109, 177, 191;
    --orange: 255, 152, 118;
    --yellow: 255, 202, 93;
    --green: 105, 186, 164;

    --theme-color-rgb: var(--purple);
    --theme-color: rgb(var(--theme-color-rgb));
    --theme-color-light: rgba(var(--theme-color-rgb), 0.15)
}

.mode-light { 
    --mode-bg: var(--light-bg); 
    --mode-text: var(--light-text);
    --mode-nav: grey;
}
.mode-dark { 
    --mode-bg: var(--dark-bg); 
    --mode-text: var(--dark-text); 
    --mode-nav: white;
}

.theme-orange { --theme-color-rgb: var(--orange); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-purple { --theme-color-rgb: var(--purple); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-green { --theme-color-rgb: var(--green); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-pink { --theme-color-rgb: var(--pink); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-blue { --theme-color-rgb: var(--blue); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-yellow { --theme-color-rgb: var(--yellow); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }

body {
    font-family: 'Poppins', sans-serif;
}