/* You can add global styles to this file, and also import other style files */

:root {
    /* Mode variables */
    --light-bg: white;
    --light-bg-secondary: #f0f1f5;
    --light-text: black;
    --light-text-secondary: grey;
    --dark-bg: rgb(41, 39, 39);
    --dark-bg-secondary: rgb(50, 50, 50);
    --dark-text: white;
    --dark-text-secondary: rgb(207, 205, 205);

    --mode-bg: var(--light-bg);
    --mode-bg2: var(--light-bg-secondary);
    --mode-text: var(--light-text);
    --mode-text2: var(--light-text-secondary);
    --mode-nav: grey;
    /* Mode variables */

    /* Theme variables */
    --purple: 129, 117, 255;
    --pink: 243, 154, 157;
    --blue: 109, 177, 191;
    --orange: 255, 152, 118;
    --yellow: 255, 202, 93;
    --green: 105, 186, 164;

    --theme-color-rgb: var(--purple);
    --theme-color: rgb(var(--theme-color-rgb));
    --theme-color-light: rgba(var(--theme-color-rgb), 0.15)
}

.mode-light { 
    --mode-bg: var(--light-bg); 
    --mode-bg2: var(--light-bg-secondary);
    --mode-text: var(--light-text);
    --mode-text2: var(--light-text-secondary);
    --mode-nav: grey;
}
.mode-dark { 
    --mode-bg: var(--dark-bg); 
    --mode-bg2: var(--dark-bg-secondary);
    --mode-text: var(--dark-text); 
    --mode-text2: var(--dark-text-secondary);
    --mode-nav: white;
}

.theme-orange { --theme-color-rgb: var(--orange); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-purple { --theme-color-rgb: var(--purple); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-green { --theme-color-rgb: var(--green); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-pink { --theme-color-rgb: var(--pink); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-blue { --theme-color-rgb: var(--blue); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }
.theme-yellow { --theme-color-rgb: var(--yellow); --theme-color: rgb(var(--theme-color-rgb)); --theme-color-light: rgba(var(--theme-color-rgb), 0.15); }

body {
    font-family: 'Poppins', sans-serif;
}

/* PrimeNG Dropdown styles */
.p-dropdown-items {
    background: var(--mode-bg) !important;
    li {
        color: var(--mode-text2) !important;
        &.p-highlight {
            background: var(--theme-color-light) !important;
            color: var(--theme-color) !important;
            &:hover { background: var(--theme-color-light) !important; }
        }
        &:hover {
            background: var(--mode-bg2) !important;
        }
    }
 }
 
 .p-dropdown {
     .p-inputtext { color: var(--mode-text2) !important; }
     background: var(--mode-bg) !important;
     border: 1px solid rgb(158, 157, 157) !important;
     &:hover {
         border: 1px solid rgb(158, 157, 157) !important;
     }
 }
 
 .p-focus {
     box-shadow: none !important;
     outline: none !important;
 }

.p-inputswitch-checked .p-inputswitch-slider {
    background: var(--theme-color) !important;  
}